<h3>Create an Account</h3>

<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
    <app-input 
        inputType="text"
        label="Username:" 
        [control]='authForm.get("username")'
    ></app-input>

    <app-input 
        inputType="password"
        label="Password:" 
        [control]='authForm.get("password")'
    ></app-input>

    <app-input 
        inputType="password"
        label="Password Confirmation:" 
        [control]='authForm.get("passwordConfirmation")'
    ></app-input>

    <div 
        *ngIf="
            authForm.get('password').touched &&
            authForm.get('passwordConfirmation').touched &&
            authForm?.errors
        "
        class="ui red basic label"
    >
        <p *ngIf="authForm.errors.passwordsDontMatch">
            Password and Password Confirmation do not match.
        </p>

        <p *ngIf="authForm.errors.noConnection">
            No Internet connection. Try again later.
        </p>

        <p *ngIf="authForm.errors.unknownError">
            Something went wrong. Try again later.
        </p>
    </div>

    <div>
        <button class="ui submit button primary" type="submit">
            Submit
        </button>
    </div>
</form>

<hr>
<p>Username: {{ authForm.get("username")?.value }}</p>
<p>Username errors: {{ authForm.get("username")?.errors | json }}</p>
<p>Password: {{ authForm.get("password")?.value }}</p>
<p>Password errors: {{ authForm.get("password")?.errors | json }}</p>
<p>Password confirmation: {{ authForm.get("passwordConfirmation")?.value }}</p>
<p>Password confirmation errors: {{ authForm.get("passwordConfirmation")?.errors | json }}</p>

<p>Password match errors: {{ authForm.errors | json }}</p>